<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/static/front-tools/images/clap.png" type="image">
    <link rel="stylesheet" href="/static/front-tools/css/logand.css">
	<title>Forum</title>
</head>
<body>
    <!-- -------------------------------------------------------------------- -->
	<div id="errorservice">
		<div class="background" style="height: 300px; width: 500px; background-color: rgba(249, 249, 249, 0.45); text-align: center;padding-top: 5%;">
			<div class="errors">
				<h1>{{.}}</h1>
				{{if eq . "400"}}
                <h2>Bad request</h2>
				{{else if eq . "404"}}
				<h2>Page not found</h2>
				{{else if eq . "500"}}
				<h2>Internal server error</h2>
				{{else if eq . "405"}}
                <h2>Method not allowed</h2>
				{{else if eq . "429"}}
                <h2>Too many requests<hr>Please wait a moment</h2>
				{{else}}
				<h3>Something wrong</h3>
				{{end}}
			</div>
			<a href="/home">Homepage</a>
		</div>
	</div>
    <!------------------------------------------------------------------------- -->
</body>
</html>