{{define "mainContent"}}
 <!------------ -display post & comment----------->
 {{if eq .Empty true}}
 <div class="vide" style="margin: 5% 20%;">
     <p>NO RESULT</p>
     <a href="/home">Go back </a>
 </div>
 {{else}}

 {{range $index, $value := .Postab}}
 <div class="post" id="{{$value.PostId}}">
     <div class="post-title">
         <hr>
         <h3>{{$value.Title}}</h3>
         <hr>
     </div>
     <hr class="separate">
     <div class="post-author"> 
         <div class="post-author_info">
             <img src="{{$value.Profil}}">
             <div>
                 <h1>{{$value.Surname}} {{$value.Name}}</h1>
                 <small>@{{$value.Username}}</small>
                 <small>{{$value.Date}}</small>
             </div>
         </div>
         <div class="date">
             <small>{{$value.Time}}</small>
         </div>
     </div>
     <div class="post-read">
        {{if ne $value.Content "0nbo6vda5l2udefa-v7a6i6l9a-b4lbefe-9ac6"}}
        <pre style="word-wrap: break-word; white-space: pre-wrap;">{{$value.Content}}</pre> 
        {{end}}
         {{if ne $value.ImageLink ""}}
         <img src="/static/image_storage/{{$value.ImageLink}}" alt="post's image">
         {{end}}
     </div>

     <div class="post-stats">
         {{range $value.Categorie}}
         <div>
             <span class="liked-users">{{.}}</span>
         </div>
         {{end}}
     </div>
 
     <div class="post-activity">
         <form action="/home" method="post" class="reactform">
             <input type="text" name="Rpostid" value="{{$value.PostId}}" style="display: none;">
             <div data-post_id="{{$value.PostId}}"  class="comment-section-toggler">
                 <img src="{{$value.Profil}}" class="post-activity-user-icon">
                 <img src="/static/front-tools/images/down-arrow.png" class="post-activity-arrow-icon">
             </div>
             <label for="{{$value.PostId}}like" style="display: inline;">
                 <div class="post-activity-link" id="like-button">
                     {{if eq $value.SessionReact "true"}}
                     <img src="/static/front-tools/images/like.svg" style="filter:invert(39%) sepia(74%) saturate(3469%) hue-rotate(214deg) brightness(92%) contrast(91%);">
                     {{else if eq $value.SessionReact "false"}}
                     <img src="/static/front-tools/images/like.svg">
                     {{else }}
                     <img src="/static/front-tools/images/like.svg">
                     {{end}}
                     <span id="thereaction" >Like</span>
                     <span class="like-count">{{len $value.Like}}</span>
                 </div>
             </label>
             <input type="submit" name="react" id="{{$value.PostId}}like" style="display: none;" value="true">
             <label for="{{$value.PostId}}dislike">
                 <div class="post-activity-link" id="dislike-button">
                     {{if eq $value.SessionReact "false"}}
                     <img src="/static/front-tools/images/dislike.svg" style="filter:invert(7%) sepia(86%) saturate(6423%) hue-rotate(9deg) brightness(89%) contrast(112%);">
                     {{else if eq $value.SessionReact "true"}}
                     <img src="/static/front-tools/images/dislike.svg">
                     {{else}}
                     <img src="/static/front-tools/images/dislike.svg">
                     {{end}}
                     <span id="thereaction">Dislike</span>
                     <span class="dislike-count">{{len $value.Dislike}}</span>
                 </div>
             </label>
             <input type="submit" name="react" id="{{$value.PostId}}dislike" style="display: none" value="false">
         </form>
             <div class="post-activity-link-comment" data-post_id="{{$value.PostId}}">
                 <img src="/static/front-tools/images/comment.png">
                 <span id="thereaction">Comment</span>
                 <span id="comment-count" class="comment-count">{{len .Comment_tab}}</span>
             </div>
             
     </div>
     <div class="post-activity-comment-input" id="commenting_{{$value.PostId}}">
         <form action="/home" method="post">
             <input type="text" name="postid" value="{{$value.PostId}}" style="display:none;">
             <textarea id="comment-input"  rows="4" placeholder="Write your comment here" name="newcomment" style="overflow-y: scroll;" maxlength="1000" required></textarea>
             <button type="submit" name="subcomm" value="SC">Comment</button>
         </form>
     </div>
     <div id="comment-container_{{$value.PostId}}" class="comment-container">
         <!-- Contenu des commentaires ici -->
         {{range $value.Comment_tab}}
         <div class="comments" id="{{.CommentId}}">
             <div class="comment-author">
                 <div class="post-author_info">
                     <img src="{{.Profil}}">
                     <div>
                         <h1>{{.Surname}} {{.Name}}</h1>
                         <small>@{{.Username}}</small>
                         <small>{{.Time}}</small>
                     </div>
                 </div>
                 <div class="date">
                     <small>{{.Date}}</small>
                 </div>
             </div>
             <div class="post-read">
                 <pre style="word-wrap: break-word; white-space: pre-wrap;">{{.Content}}</pre>
             </div>

             <div class="post-stats">
             </div>
             <div class="comment-activity">
                 <form action="/home" method="post" class="reactform">
                     <input type="text" name="Rcomid" value="{{.CommentId}}" style="display: none;"> 
                     <label for="{{.CommentId}}like">
                         <div class="post-activity-link" id="comment-like-button">
                             {{if eq .SessionReact "true"}}
                             <img src="/static/front-tools/images/like.svg" style="filter:invert(39%) sepia(74%) saturate(3469%) hue-rotate(214deg) brightness(92%) contrast(91%);">
                             {{else if eq .SessionReact "false"}}
                             <img src="/static/front-tools/images/like.svg">
                             {{else}}
                             <img src="/static/front-tools/images/like.svg">
                             {{end}}
                             <span id="thereaction">Like</span>
                             <span class="like-count">{{len .Likecomm}}</span>
                         </div>
                     </label>
                     <input type="submit" name="reactcomm" id="{{.CommentId}}like" style="display: none;" value="true">
                     <label for="{{.CommentId}}dislike">
                         <div class="post-activity-link" id="comment-dislike-button">
                             {{if eq .SessionReact "false"}}
                             <img src="/static/front-tools/images/dislike.svg" style="filter:invert(7%) sepia(86%) saturate(6423%) hue-rotate(9deg) brightness(89%) contrast(112%);">
                            {{else if eq .SessionReact "true"}}
                             <img src="/static/front-tools/images/dislike.svg">
                             {{else}}
                             <img src="/static/front-tools/images/dislike.svg">
                             {{end}}
                             <span id="thereaction">Dislike</span>
                             <span class="dislike-count">{{len .Dislikecomm}}</span>
                         </div>
                     </label>
                     <input type="submit" name="reactcomm" id="{{.CommentId}}dislike" style="display: none;" value="false">
 

 

                     <div class="post-activity-link-reply" data-comment_id="{{.CommentId}}" data-username="student">
                         <img src="/static/front-tools/images/reply.png">
                         <span id="thereaction">Reply</span>
                     </div>
                 </form>
             </div>
             <div class="post-activity-reply-input" id="replying_{{.CommentId}}">
                 <form action="/home" method="post">
                     <input type="text" name="postid" value="{{.PostId}}" style="display: none;">
                     <input type="text" name="comId" value="{{.CommentId}}" style="display: none;">
                     <textarea id="reply-input" rows="4" placeholder="Write your reply here" name="replycomm" style="overflow-y: scroll;" maxlength="1000" required></textarea>
                     <button type="submit" name="subreply" value="SR">Reply</button>
                 </form>
             </div>
         </div>
         {{end}}
     </div>
     
 </div>
 {{end}}
 {{end}}
{{end}}