{{define "navbar"}}
<nav class="navbar">
    <div class="navbar-left">
        <a href="/home" class="logo">
            <h2>FORUM</h2>
        </a>
    </div>
    <div class="navbar-center">
        <ul>
            <li><a href="/home"><img src="/static/front-tools/images/home.png"><span>Home</span></a></li>
            <li><a href="/myprofil/posts"><img src="/static/front-tools/images/network.png"><span>My Profil</span></a></li>               
        </ul>
    </div>
    <div class="navbar-right">
        <div class="online">
            <img src="{{.CurrentPP}}" class="nav-profile-img" onclick="toggleMenu()">
        </div>
    </div>
         <!--  ---------- profile-drop-down-menu ----------   -->     
    <div class="profile-menu-wrap" id="profileMenu">
        <div class="profile-menu">
            <div class="user-info">
                <img src="{{.CurrentPP}}">
                <div>
                    <h3>{{.CurrentN}} {{.CurrentSN}}</h3>
                    <p>@{{.CurrentUN}}</p>
                </div>
            </div>
            <hr>
            <a href="#" class="profile-menu-link">
                <img src="/static/front-tools/images/display.png" class="darkorlight-image">
                <img src="/static/front-tools/images/lightmod.png" class="light-mode-image" alt="Light Mode">
                <span><button id="dark-mode-toggle"><p>Display</p></button></span> 
            </a>
            <form action="/logout" class="profile-menu-link-btn" method="post">
                <a href="#" class="profile-menu-link">
                <button type="submit" class="logoutbut">
                <img src="/static/front-tools/images/logout.png">
                <p>Logout</p>
            </button>
            <span>></span>              
            </a>     
        </form>
        </div>
    </div>   
</nav>
{{end}}


{{define "navbar2"}}
<nav class="navbar">
    <div class="navbar-left">
        <a href="/" class="logo">
            <H2>FORUM</H2>
        </a>
       
    </div>
    <div class="navbar-center">
        <ul>
            <li><a href="/"><img src="/static/front-tools/images/home.png"><span>Home</span></a></li>
        </ul>
    </div>
    <div class="navbar-right">
        <div class="login">
            <a href="/login"><span>LOG IN</span></a>
            <a href="/create"><span>SIGN UP</span></a>
        </div>
    </div>  
</nav>
{{end}}